.roomList {
  padding: 0px 24px;
}
.greetingBox {
  height: 90px;
  padding: 0px 24px;
  font-family: Simonetta;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;

  color: #000000;
}
.centerText{
  color: #bbb5b5
}

.index{
  min-height: 100vh;
}
