.index {
  min-height: 100vh;
}

@mixin shrinkWidth() {
  margin: 0 24rpx;
}

@mixin fullWidth() {
  margin: auto -24rpx;
  background: #Fff;
}

.description {
  max-height: 10vh;
  padding: 13px;
  background: #fff
}

.bottomMenu {
  position: fixed;
  bottom: 0;
  height: 90px;
  flex: 1;
  right: 0;
  left: 0;
  background: rgb(245, 245, 229);
  padding: 10px;
  justify-content: center;
  display: flex;
  padding: auto 10px;
  // padding-bottom: constant(safe-area-inset-bottom);
  // /*兼容 IOS<11.2*/
  // padding-bottom: env(safe-area-inset-bottom);
  /*兼容 IOS>11.2*/
}

.inputBox {
  border-radius: 3px;
  height: 90px;
  padding: 5px 7px;
  display: flex;

  .send {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background: #Fff;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M27 9.00061L13 23L6 16.0006' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E %3C/svg%3E ");
    background-position: center;
  }

  &>Input {
    height: 100%;
    background: #fff;
    line-height: 50px;
    padding: auto 3px;
    font-size: 35px;
    flex: 0.9
  }
}

.generator {
  @include fullWidth();
  height: 50vh;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;

  &>main {
    text-align: center;
  }
}

.bottomMenu Button {
  flex: 0.5;
  height: 100%;
  margin: 2px;
}

.form {
  @include shrinkWidth()
}

Button.primary {
  background: #000;
  color: #fff;
}

Button.secondary {
  background: #fff;
  color: #000;
  border: 1px solid black;
}

.posts {
  margin-top: 11px;
  height: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  background: transparent;
  margin-bottom: 15px;

  &>.postScrollBox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left; // 使其脱离文档流 宽度为所有字元素的和
    min-width: 100%;

    &>.postItem {
      padding: 5rpx 15px;
      background: #Fff;
      border-radius: 3rpx;
      margin-right: 10px;
      width: 300px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex: 3;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}
